<div class="col-md-2"></div>

  <div class="col-md-10">
  <h1>Browse Rooms</h1>
    <% @rooms.each_slice(3) do |r| %>
      <div class="row">
        <% r.each do |room| %>
          <div class="col-md-3">
            <div class="thumbnail">
              <img src=<%= room.image(:medium) %>
                <div class="caption text-center">
                  <h3><%= room.name.upcase %></h3>
                  <p><%= room.description %></p>
                  <div><%= link_to 'View room', room_path(room.id) %>  </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

